/* -- CSS RESET -- */
*{ padding: 0;
  margin; 0;
  font-size; 100%;
  line-height: 1em;
}
body {
width: 100%;
max-width: 100%;
    max-height: 100%;
font-family: 'Sue Ellen Francisco', cursive;
  margin: auto;
  color: white;
 background-color: #ED9C9D;
line-height: 1.8em;
}


/*--Links--*/


/*--Headings--*/
h1 {font-size: 5em;
    text-align: center;
margin-top: 1em;}

h2 {font-size: 2em;
    margin-top: 4em;
    text-align: center; 
}
h3 {font-size: 5em;
    text-align: center;
    color: white;
}
h4 {font-size: 2em;
    text-align: left;
    margin: 40px;}

/*--Paragraph--*/
p, li {line-height: 30px;
font-size: 1em;
letter-spacing: 2px;}

p {font-size: 2em;
    margin-left: 2em;
    margin-right: 2em;
line-height: 40px;
letter-spacing: 2px;}


/* --Divs-- */

.info {position: absolute;
left:40em;
top: 20em;    
background: #CC6268;}

/*--Images--*/ 
img { display: block;
margin: auto;
    max-width: 100%;}

.nd {margin-left: 2em;}

/*--Footer--*/ 
footer {width: 100%; 
color: white;
text-align: center;
padding-bottom: 3em;}

/*--tablet--*/
@media (max-width: 1000px) {
    
    
    
  body{
/*    background-color: #8080ff;*/
    width: 100%;
    
    }

    article p {
        margin-left: 6em;
        margin-right: 6em;
    }
    
  /*--smartphone--*/
  @media (max-width: 500px) {
    article p {
        margin-left: 1em;
        margin-right: 1em;
    }
      nav ul {text-align: center;
  text-transform: lowercase;
  letter-spacing: 10px;
}
nav ul li {
  display: inline;
  margin: 3px;

  }